.header-style {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 10% 70% 20%;
    padding: 2rem 0.5rem;
    align-items: center;
    position: fixed;
    background-color: rgba(255,255,255, 1);
    top: 0;
}

.pepe{
    display:grid;
    text-align:center;
}